/*------------------- CSS RESET -----------------------*/

* {
    padding: 0;
    margin: 0;
    font-size; 100%;
    line-height: 1em;
}

body {
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    margin: auto;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.8em;
}

header {
    margin: 5.7em 0} /*--- page margin, works clockwise ---*/


/*------------------ TYPOGRAPHY ------------------------*/

p {
    width: 75%;
    max-width: 700px;
    margin-bottom: 1.5em; /*--- spacing between each paragraph ---*/
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal; /*--- rather than bold font ---*/
    color: #2476bd;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

p {
    font-size: 120%;
    line-height: 1.5em;
}

blockquote {
    padding: 1.2em 0 0 0;
    font-size: 2em;
    line-height: 1em;
    color: #777;
    hanging-punctuation: first;
    text-indent: -0.5em;
    text-align: center;
}

cite {
    font-size: 65%;
    padding: 2em;
    margin-left: 20em;
}

.caption {
    font-size: 90%;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    border-top: 5px solid #2476bd;
    text-align: center;
    margin-bottom: 2.5em;
}

/*------------------- LINKS ----------------------------*/

a {
    color: #2476bd;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    margin-left: 3em;
}

a:hover {
    color: #fab515;
}

/*------------------ NAVIGATION -------------------------*/

nav {
    position:absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #2476bd;
    padding: 1.6em 0;
}

nav ul {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
}

nav a:link {
    color: #fff
}

nav a:visited {
    color: #fff;
}

nav a:hover {
    color: #fab515
}

/*-------------------- SECTIONS ----------------------*/

p {
    margin: 0 14.2em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-bottom: 1.5em;
}

.bq1 {
    background: #fab515;
    background-size: 100%;
    margin-bottom: 1em;
    color: #f0f0f0;
}

.bq2 {
    background: #e41383;
    background-size: 100%;
    margin-bottom: 1em;
    color: #f0f0f0;
}

.bq3 {
    background: #0f6d3d;
    background-size: 100%;
    margin-bottom: 1em;
    color: #f0f0f0;
}

#border {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 77%;
    border-bottom: 20px solid #2476bd;
}

#border2 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 17em;
    width: 100%;
    border-bottom: 20px solid #fab515;
}

#border3 {
    margin-top: 3em;
    margin-bottom: 1em;
    width: 77%;
    border-bottom: 20px solid #e41383;
}

#date {
    margin: 0 0 0 1em;
    float: left;
    font-size: 6em;
    color: #2476bd;
    max-width: 12%;
}

#date2 {
    margin: 0 1em 0 0;
    float: right;
    font-size: 6em;
    color: #fab515;
    max-width:12%;
}

#date3 {
    margin: 0 0 0 1em;
    float: left;
    font-size: 6em;
    color: #e41383;
    max-width: 12%;
}

.bq4 {
    background: #d42027;
    background-size: 100%;
    margin-bottom: 1em;
    color: #f0f0f0;
}

.conclusion {
    background: #2476bd;
    background-size: 100%;
    color: #f0f0f0;
    padding: 2em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3em;
}

/*------------------ REFERENCES --------------------*/

table {
    max-width: 900px;
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 1em;
    list-style: none;
    font-family: 'Oswald', sans-serif;
}

th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #2476bd;
}

th, td {
    padding: 0.6em;
}
/*--------------------- IMAGES ----------------------*/

img {
    display: block;
    padding: 0;
    max-width: 100%;
    margin:auto;
    margin-bottom: 2em;
    text-align: center;
}

#apparelartsimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#apparelartsimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#directionimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#directionimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#weintraubimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#weintraubimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#ibmimg2 {
    list-style: none;
    margin: auto;
    text-align: center;
}
#ibmimg2 li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#nextimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#nextimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#childsbook {
    list-style: none;
    margin: auto;
    text-align: center;
}
#childsbook li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#westinghouse {
    float: right;
    margin-right: 8em;
}

#ups {
    float: left;
    margin-left: 7em;
}

#abc {
    float: right;
    margin-right: 5em;
}
/*--------------------- FOOTER -----------------------*/

footer {
    background: #2476bd;
    background-size: 100%;
    text-align: center;
    color: #f0f0f0;
    font-size: 0.75em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

footer+small {
    text-align: left;
}

footer hr {
    margin-bottom: 3em;
}