/*------------------- CSS RESET -----------------------*/

* {
    padding: 0;
    margin: 0;
    font-size; 100%;
    line-height: 1em;
}

header {
    margin: 5.7em 0} /*--- page margin, works clockwise ---*/

body {
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    margin: auto;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.8em;
}

/*------------------ TYPOGRAPHY ------------------------*/

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal; /*--- rather than bold font ---*/
    color: #2476bd;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0 17.2em;
    line-height: 1.5em; /*--- spacing between each line ---*/
    margin-bottom: 1.5em; /*--- spacing between each paragraph ---*/
}

h2 {
    font-size: 2.827em;
    margin-bottom: 1em;
}

blockquote {
    padding: 1.2em 0 0 0;
    font-size: 1.999em;
    line-height: 1em;
    color: #fff;
    hanging-punctuation: first;
    text-indent: -0.5em;
    text-align: center;
    margin-bottom: 1em;
}

blockquote cite {
    font-size: 65%;
}

.caption { /*---- won't allow border-top using <caption> -----*/
    font-size: 90%;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    border-top: 5px solid #2476bd;
    text-align: center;
    margin-bottom: 2.5em;
}

/*------------------- LINKS ----------------------------*/

a {
    color: #2476bd;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.15s ease-in; /*--- transition on hover ---*/
    margin-left: 3em;
}

a:hover {
    color: #fab515;
}

/*------------------ NAVIGATION -------------------------*/

nav {
    position: absolute; /*--- stays at top of page ---*/
    top: 0; /*--- placement on page ---*/
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #2476bd;
    padding: 1.6em 0;
}

nav ul {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 0px;
}

nav a:link {
    color: #fff
}

nav a:visited {
    color: #fff;
}

nav a:hover {
    color: #fab515
}

/*-------------------- SECTIONS ----------------------*/

.bq1 {background: #fab515;}

.bq2 {background: #e41383;}

.bq3 {background: #0f6d3d;}

#border {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 77%; /*--- wont work with margin-right???---*/
    border-bottom: 20px solid #2476bd;
}

#border2 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 17em;
    width: 100%;
    border-bottom: 20px solid #fab515;
}

#border3 {
    margin-top: 3em;
    margin-bottom: 1em;
    width: 77%;
    border-bottom: 20px solid #e41383;
}

#date {
    margin: 0 0 0 1em;
    float: left;
    font-size: 6em;
    color: #2476bd;
}

#date2 {
    margin: 0 1em 0 0;
    float: right;
    font-size: 6em;
    color: #fab515;
}

#date3 {
    margin: 0 0 0 1em;
    float: left;
    font-size: 6em;
    color: #e41383;
}

.bq4 {background: #d42027;}

.conclusion { /*--- styled as a blockquote----*/
    background: #2476bd;
    padding: 2em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3em;
}

/*------------------ REFERENCES --------------------*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse; /*---- no white divider ---*/
    border-spacing: 2px;
    margin-bottom: 1em;
    font-family: 'Oswald', sans-serif;
}

th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #2476bd;
}

th, td {
    padding: 0.6em;
}
/*--------------------- IMAGES ----------------------*/

img {
    display: block;
    padding: 0;
    max-width: 100%;
    margin:auto;
    margin-bottom: 2em;
}

#apparelartsimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#apparelartsimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#directionimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#directionimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#weintraubimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#weintraubimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#ibmimg2 {
    list-style: none;
    margin: auto;
    text-align: center;
}
#ibmimg2 li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#nextimg {
    list-style: none;
    margin: auto;
    text-align: center;
}
#nextimg li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#childsbook {
    list-style: none;
    margin: auto;
    text-align: center;
}
#childsbook li {
    display: inline-block;
    margin: 1em 1em 1em 0;
}

#westinghouse {
    float: right;
    margin-right: 8em;
}

#ups {
    float: left;
    margin-left: 7em;
}

#abc {
    float: right;
    margin-right: 5em;
}

/*--------------------- FOOTER -----------------------*/

footer {
    background: #f0f0f0;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

.fa {
    text-align: center;
} 

/*------------------ MEDIA QUERIES -------------------*/

/*------ tablet ---------*/

@media (max-width: 50em) {

    p {margin-left: 5em;
        width: 75%}
    
    header h1 {font-size: 5em;}
    
    #ups {
        float: right;
        margin-left: 1em;
        margin-right: 7em;
        width: 20%;}
}

/*----------- SMARTPHONE ----------- */

 @media (max-width: 35em) {

   body {
    margin: auto 0;
    width: 100%;
    font-size: 70%; 
    }
    
     p {margin-left:1em;
        width: 90%;}

    nav ul li {
        display: grid;
        margin: 0px; }

     table {font-size: 90%}

     h1 {font-size: 3em;
        line-height: 1.3}   

     blockquote { font-size: 1.25em;
        padding: 0;
        line-height: 1.6em}  
     
     #westinghouse {
        float: right;
        margin-right: 1em;
        width: 30%;}

     #ups {
        float: right;
         margin-left: 1em;
        margin-right: 3em;
        width: 20%;}

     #abc {
        float: right;
         margin:0em;
        margin-right: 0em;
        width: 40%}
     
     #date2 {
        margin: 0 0 0 1em;
        float: left;}
     
     #border2 {
        margin-left: 7em;}
}
     
